.sideProject {
  clip-path: polygon(0 10%, 100% 0%, 100% 99%, 0% 100%);
  width: 100%;
  background-color: #5559c2;
  padding: 100px var(--paddingX) var(--paddingX) 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
