/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/homepage/hero/hero.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.hero_hero__hlnC2 {
  width: 100%;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.hero_container__ChJ00 {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  /* background-color: yellow; */
}

.hero_heroDetails__hXTnr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}

.hero_heroIntroText__aKbLu {
  color: #575757;
  font-weight: 300;
}

.hero_heroHeading__NbHUK {
  font-size: 42px;
  font-weight: 600;
}

.hero_coloredText__GOM1X {
  color: #a48dff;

  /* Create gradient */
  background: linear-gradient(
    135deg,
    #a48dff 0%,
    #a893ff 42%,
    #40f4ff 100%,
    #7db9e8 100%
  );

  /* Clip the background to the text */
  -webkit-background-clip: text;
  background-clip: text;

  /* Make the text transparent, so the gradient shows through */
  -webkit-text-fill-color: transparent;
}

.hero_heroDesc__8ui7m {
  color: #909090;
  line-height: 28px;
  max-width: 600px;
}

.hero_social__vTqeV {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.hero_socialText__gHUHN {
  font-size: 14px;
  font-weight: 300;
  color: #909090;
}

.hero_socialLogo__Vrww5 {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(243, 243, 243);
  background-color: white;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero_socialLogo__Vrww5:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 15px rgba(164, 141, 255, 0.4),
    0 0 30px rgba(168, 147, 255, 0.3), 0 0 60px rgba(64, 244, 255, 0.2),
    0 0 90px rgba(125, 185, 232, 0.1);
  cursor: pointer;
}

.hero_imgWrapper__pNYMS {
  position: relative;
}

.hero_instgramImg__VpK1y {
  position: absolute;
  left: -20px;
  bottom: 80px;
}

.hero_beerImg__EFUGp {
  position: absolute;
  right: 0;
  top: 0;
}

.hero_codeImg__cnN1B {
  position: absolute;
  right: 0;
  bottom: 0;
}

.hero_starImg__sHSda {
  position: absolute;
  top: -10px;
}

/* Animation */

@keyframes hero_float1__lO87C {
  0%,
  100% {
    transform: translate(0, -10px);
  }
  50% {
    transform: translate(0, 10px);
  }
}

.hero_iconFloatingOne__DGhJo {
  animation: hero_float1__lO87C 4s ease-in-out infinite;
}

@keyframes hero_float2__xO_XT {
  0%,
  100% {
    transform: translate(-10px, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
}

.hero_iconFloatingTwo__sX2xl {
  animation: hero_float2__xO_XT 3s ease-in-out infinite;
}

@keyframes hero_float3__xQbjl {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, -10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(-10px, 10px);
  }
}

.hero_iconFloatingThree__IOWqN {
  animation: hero_float3__xQbjl 5s ease-in-out infinite;
}

@keyframes hero_pulse__6H_8s {
  0%,
  100% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.2); /* 50% larger */
  }
}

.hero_starPulse__ktheR {
  animation: hero_pulse__6H_8s 4s infinite ease-in-out;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/shared/button/button.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.button_btn___8iM3 {
  width: 160px;
  height: 60px;
  border: none;
  background: linear-gradient(
    135deg,
    #a48dff 0%,
    #a893ff 42%,
    #40f4ff 100%,
    #7db9e8 100%
  );
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(164, 141, 255, 0.4),
    0 0 30px rgba(168, 147, 255, 0.3), 0 0 60px rgba(64, 244, 255, 0.2),
    0 0 90px rgba(125, 185, 232, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button_btn___8iM3:hover {
  transform: translateY(-3px);
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/

/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/homepage/textLabel/textlabel.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/
.textlabel_textLabel__EgSZz {
  width: 100%;
  background-color: #323e47;
  padding: 20px;
  color: white;
  overflow: hidden;
  height: 90px;
  /* clip-path: polygon(0 15%, 100% 0, 100% 69%, 0 82%); */
}

.textlabel_container__1muHm {
  display: flex;
  white-space: nowrap;
  width: 100%;
  height: clamp(3em, 10vw, 6em);
  overflow: hidden;
  font-family: sans-serif;
  /* clip-path: polygon(0 15%, 100% 0, 100% 69%, 0 82%); */
}

.textlabel_loopText__rtxjz {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0.25em;
  animation: textlabel_loopText__rtxjz 25s infinite linear;
}

@keyframes textlabel_loopText__rtxjz {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

