.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.contentLeft {
  flex: 1;
}

.carouselImg {
  margin-bottom: 40px;
}

.contentRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projectTitle {
  font-size: 24px;
  font-weight: 600;
}

.projectDesc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* Number of lines you want to display */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 32px;
  max-width: 450px;
  height: 120px; /* Adjust or remove height as needed */
  opacity: 0.9;
}

.buttons {
  display: flex;
  gap: 20px;
}
