.textLabel {
  width: 100%;
  background-color: #323e47;
  padding: 20px;
  color: white;
  overflow: hidden;
  height: 80px;
  /* clip-path: polygon(0 15%, 100% 0, 100% 69%, 0 82%); */
}

.container {
  display: flex;
  white-space: nowrap;
  width: 100%;
  height: clamp(3em, 10vw, 6em);
  overflow: hidden;
  font-family: sans-serif;
  /* clip-path: polygon(0 15%, 100% 0, 100% 69%, 0 82%); */
}

.loopText {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0.25em;
  animation: loopText 30s infinite linear;
}

@keyframes loopText {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
